#videocontainer {
  margin: auto;
  width: 640px;
  height: 480px;
  border: 5px #333 solid;
}

.videoplayer {
  margin: auto;
  max-width: 100%;
  width: 300px;
  background-color: #666;
}

#videofiltercontrols {
  margin: auto;
  text-align: center;
}

#peercontrols {
  margin: auto;
  text-align: center;
}

#mainchat {
  margin: auto;
  width: 640px;
  height: 350px;
  border: 5px #333 solid;
}

#messages-window {
  margin: auto;
  width: 500px;
  height: 300px;
}

#chat-input {
  margin: auto;
  width: 200px;
}

/* Use the vendor prefixes to get the video filters right */
.grayscale {
  -webkit-filter: grayscale(1);
}

.sepia {
  -webkit-filter: sepia(1);
}

.blur {
  -webkit-filter: blur(3px);
}