#videocontainer {
  border: 10px #333 solid;
}

#videoplayer {
  background-color: #666;
}

/* Use the vendor prefixes to get the video filters right */
.grayscale {
  -webkit-filter: grayscale(1);
}

.sepia {
  -webkit-filter: sepia(1);
}

.blur {
  -webkit-filter: blur(3px);
}